<%- 
  title "Free Financial Tools and Calculators"
  description "Try out our financial tools and calculators to help you visualize and understand your financial journey."
  legacy
-%>
<section class="relative z-0">
  <div class="absolute bottom-0 left-0 z-0 w-full overflow-hidden text-teal opacity-80 js-background-swoop">
    <svg width="894" height="232" viewBox="0 0 894 232" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.5" d="M-134.668 219.34C-80.4739 194.246 -19.7466 69.9111 204.039 72.7674C427.824 75.6238 437.783 163.751 623.979 151.156C772.935 141.08 847.219 54.9043 881.656 11.9995" stroke="url(#paint0_linear_3921_26725)" stroke-width="24" stroke-linecap="round"/>
    </svg>
  </div>

  <header class="z-20 pt-10 pb-12 text-center sm:pt-20">
    <h1 class="max-w-sm mx-auto text-2xl font-extrabold font-display sm:text-4xl lg:text-5xl sm:max-w-2xl lg:max-w-4xl">
      Try our free financial tools and calculators
    </h1>
    <p class="max-w-sm px-4 mx-auto mt-2 sm:max-w-xl sm:px-8 sm:text-lg">
      Here’s a look at all the interactive tools and calculators we’ve built to help you visualize and navigate your financial journey. 
    </p>
  </header>
</section>

<%= render "partials/tools-grid" %>

<%= render "partials/get-started" %>
