<%- 
  title "Mini-Tool Voting"
  description "Let us know what financial tools you want us to build next!"
  legacy
-%>

<div id="vote-app" class="relative overflow-hidden"></div>
<%= javascript_pack_tag 'vote' %>
<%= stylesheet_pack_tag 'vote', media: 'all' %>
