<% content_for :feature_card__title do %>
Built in public
<% end %>

<% content_for :feature_card__description do %>
Unlike most financial companies, we&rsquo;re committed to transparency. Follow our journey and shape Maybe with us.
<% end %>

<% content_for :feature_card__color do %>#F12980<% end %>
<% content_for :feature_card__border_color do %>#F12980<% end %>

<% content_for :feature_card__content do %>
<div class="w-full">
    <%= image_tag asset_path("home/built-in-public.png"), class: 'w-full', alt: '' %>
</div>
<% end %>