<% content_for :feature_card__title do %>
Safe and secure
<% end %>

<% content_for :feature_card__description do %>
We treat your financial data like we&rsquo;d want ours to be treated,
by using strong encryption and secure authentication.
<% end %>

<% content_for :feature_card__color do %>#F12980<% end %>
<% content_for :feature_card__border_color do %>#F12980<% end %>

<% content_for :feature_card__content do %>
<div class="w-full">
  <%= image_tag asset_path("home/security.png"), class: 'w-full', alt: '' %>
</div>
<% end %>