<% content_for :feature_card__title do %>
On your time
<% end %>

<% content_for :feature_card__description do %>
No calls, just ask and get an answer
<% end %>

<% content_for :feature_card__color do %>#4361EE<% end %>
<% content_for :feature_card__border_color do %>#4361EE<% end %>

<% content_for :feature_card__content do %>
<div class="w-full flex justify-end">
    <%= image_tag asset_path("home/chat-text.png"), class: 'w-64 max-w-full lg:w-full', alt: '' %>
</div>
<% end %>