<% content_for :feature_card__title do %>
Meet Travis, our lead advisor
<% end %>

<% content_for :feature_card__description do %>
Also Maybe co-founder, CFP&reg;, CFA &amp; ready to help
<% end %>

<% content_for :feature_card__color do %>#4361EE<% end %>
<% content_for :feature_card__border_color do %>#4361EE<% end %>

<% content_for :feature_card__content do %>
<div class="w-full -mb-21">
    <%= image_tag asset_path("home/meet-travis.png"), class: 'w-full', alt: '' %>
</div>
<% end %>