<% content_for :feature_card__title do %>
Keep the conversation going
<% end %>

<% content_for :feature_card__description do %>
Ask follow up questions and get more clarity
<% end %>

<% content_for :feature_card__color do %>#4361EE<% end %>
<% content_for :feature_card__border_color do %>#4361EE<% end %>

<% content_for :feature_card__content do %>
<div class="w-full -mb-16 md:-mb-20">
    <%= image_tag asset_path("home/message.png"), class: 'w-full', alt: '' %>
</div>
<% end %>