<% content_for :feature_card__title do %>
Included in Premium
<% end %>

<% content_for :feature_card__description do %>
No $500 per question here
<% end %>

<% content_for :feature_card__color do %>#4361EE<% end %>
<% content_for :feature_card__border_color do %>#4361EE<% end %>

<% content_for :feature_card__content do %>
<div class="w-full -mb-22 flex justify-center">
    <%= image_tag asset_path("home/premium.png"), class: 'w-64 max-w-full lg:w-full', alt: '' %>
</div>
<% end %>