<% content_for :security_card__icon, "ri-phone-lock-line bg-green text-green" %>

<% content_for :security_card__title do %>
No one from Maybe will access your financial data
<% end %>

<% content_for :security_card__content do %>
<p>
  In cases where our team may need access to perform support (such as helping you with your account or answering data
  accuracy questions), we won't access it without explicit written consent from you. We will get your consent
  <strong>every time</strong>.
</p>
<p>
  When working on a support issue, we make security and privacy a top priority. We only access the minimum data needed
  to resolve your issue.
</p>
<% end %>