<% content_for :security_card__icon, "ri-open-arm-line bg-red text-red" %>

<% content_for :security_card__title do %>
We don&rsquo;t sell your data or upsell you on other stuff
<% end %>

<% content_for :security_card__content do %>
<p>
  Financial tools and services are historically incentivized to make money by selling your data to other companies or
  playing middleman for credit card offers and mortgages.
</p>
<p>
  We&rsquo;re building Maybe to only be incentivized to build amazing tools for you to manage and grow your finances.
  This
  is why we charge a monthly fee instead of saying we&rsquo;re &ldquo;free&rdquo; and then sell your data elsewhere
  (which, again, is what the vast majority of existing financial tools do).
</p>
<p>
  We are incentivized to help you, not to help other companies.
</p>
<% end %>