<% content_for :feature_card__title do %>
Lifetime income and expenses
<% end %>

<% content_for :feature_card__description do %>
See all your money ins and outs in one place
<% end %>

<% content_for :feature_card__color do %>#7209B7<% end %>
<% content_for :feature_card__border_color do %>#7209B7<% end %>

<% content_for :feature_card__content do %>
<div class="w-full">
    <%= image_tag asset_path("home/plan-events.png"), class: 'w-full', alt: '' %>
</div>
<% end %>