<% content_for :feature_card__title do %>
Account for change
<% end %>

<% content_for :feature_card__description do %>
Make changes to events to test your plan
<% end %>

<% content_for :feature_card__color do %>#7209B7<% end %>
<% content_for :feature_card__border_color do %>#7209B7<% end %>

<% content_for :feature_card__content do %>
<div class="w-full -mb-14 flex justify-end">
    <%= image_tag asset_path("home/plan-inputs.png"), class: 'w-64 max-w-full lg:w-full', alt: '' %>
</div>
<% end %>