<% content_for :feature_card__title do %>
Plan for that big moment
<% end %>

<% content_for :feature_card__description do %>
Input milestones, goals, or what ifs you expect to happen
<% end %>

<% content_for :feature_card__color do %>#7209B7<% end %>
<% content_for :feature_card__border_color do %>#7209B7<% end %>

<% content_for :feature_card__content do %>
<div class="w-full md:-mb-14">
    <%= image_tag asset_path("home/plan-milestones.png"), class: 'w-full', alt: '' %>
</div>
<% end %>