<% content_for :feature_card__title do %>
Get plan feedback
<% end %>

<% content_for :feature_card__description do %>
See what works and what needs fixing
<% end %>

<% content_for :feature_card__color do %>#7209B7<% end %>
<% content_for :feature_card__border_color do %>#7209B7<% end %>

<% content_for :feature_card__content do %>
<div class="w-full flex justify-center">
    <%= image_tag asset_path("home/plan-feedback.png"), class: 'w-96 max-w-full lg:w-full', alt: '' %>
</div>
<% end %>