<% content_for :feature_card__title do %>
See where you&rsquo;re at years from now
<% end %>

<% content_for :feature_card__description do %>
Simulate your net worth and see the probability of reaching your goals
<% end %>

<% content_for :feature_card__color do %>#7209B7<% end %>
<% content_for :feature_card__border_color do %>#7209B7<% end %>

<% content_for :feature_card__content do %>
<div class="w-full md:-mb-6">
  <%= image_tag asset_path("home/projection-chart.png"), class: 'w-full', alt: '' %>
</div>
<% end %>