<div class="max-w-3xl mx-auto mb-12 text-center">
  <h1 class="mb-4 text-2xl font-extrabold font-display sm:text-4xl">
    Request early access
  </h1>

  <p class="text-lg opacity-80">
    Maybe helps you figure out what's possible and how to get there. It's much more focused on the big picture and understanding how your decisions today will potentially affect your outcomes down the road.
  </p>
</div>
