<!-- prettier-ignore -->
<div class="relative">
  <svg width="1699" height="1444" viewBox="0 0 1699 1444" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_150_1230)">
      <path d="M774.563 393.822L381.873 624.51L1320.81 525.879L424.904 909.854" stroke="url(#paint0_linear_150_1230)"
        stroke-opacity="0.6" stroke-width="69" />
    </g>
    <defs>
      <filter id="filter0_f_150_1230" x="0.398499" y="0.0752716" width="1698" height="1305.49"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="182" result="effect1_foregroundBlur_150_1230" />
      </filter>
      <linearGradient id="paint0_linear_150_1230" x1="743.397" y1="245.96" x2="728.381" y2="1149.27"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#F72585" />
        <stop offset="1" stop-color="#F72585" />
      </linearGradient>
    </defs>
  </svg>
</div>