<!-- prettier-ignore -->
<div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 gap-4">
  <div>
    <%= render partial: "partials/home/few_more_things/cards/card_1", layout: "partials/home/feature_card" %></div>
  <div>
    <%= render partial: "partials/home/few_more_things/cards/card_2", layout: "partials/home/feature_card" %></div>
</div>