<% content_for :feature_card__title do %>
All your assets and debts charted
<% end %>

<% content_for :feature_card__description do %>
Visualize your accounts with beautiful charts
<% end %>

<% content_for :feature_card__color do %>#11E4FF<% end %>
<% content_for :feature_card__border_color do %>#52EDFF<% end %>

<% content_for :feature_card__content do %>
<div class="w-full mt-8">
    <%= image_tag asset_path("home/assets-debts-charted.png"), class: 'w-full', alt: '' %>
</div>
<% end %>