<% content_for :feature_card__title do %>
Uncover new insight
<% end %>

<% content_for :feature_card__description do %>
Get insight on whether you&rsquo;re okay or need fine-tuning
<% end %>

<% content_for :feature_card__color do %>#11E4FF<% end %>
<% content_for :feature_card__border_color do %>#52EDFF<% end %>

<% content_for :feature_card__content do %>
<div class="w-full mt-12 mb-7">
    <%= image_tag asset_path("home/insights.png"), class: 'w-full', alt: '' %>
</div>
<% end %>