<% content_for :feature_card__title do %>
Keep tabs on everything
<% end %>

<% content_for :feature_card__description do %>
All your accounts in one place
<% end %>

<% content_for :feature_card__color do %>#11E4FF<% end %>
<% content_for :feature_card__border_color do %>#52EDFF<% end %>

<% content_for :feature_card__content do %>
<div class="w-full flex justify-center p-6 -mb-12 lg:-mb-18">
    <%= image_tag asset_path("home/keep-tabs.png"), class: 'w-64 max-w-full lg:w-full', alt: '' %>
</div>
<% end %>