<div class="relative sm:mx-4 px-4 pt-20 pb-48 overflow-hidden">
    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 pointer-events-none select-none">
        <svg width="1488" height="665" viewBox="0 0 1488 665" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_150_1260)">
                <path d="M970.7 460.216L1000.7 514.716H902.2L882.2 459.716L970.7 460.216Z"
                    fill="url(#paint0_linear_150_1260)" />
                <path d="M529.2 512.716L504.7 578.716H395.2L431.7 511.716L529.2 512.716Z"
                    fill="url(#paint1_linear_150_1260)" />
                <path d="M359.7 383.216L326.2 420.716L244.7 420.216L285.7 382.716L359.7 383.216Z"
                    fill="url(#paint2_linear_150_1260)" />
                <path d="M1250.2 577.716L1312.7 646.716H1192.2L1143.2 578.716L1250.2 577.716Z"
                    fill="url(#paint3_linear_150_1260)" />
                <path
                    d="M1272.7 247.156L715.2 -5.34045M715.2 -5.34045L1272.7 373.79M715.2 -5.34045L157.7 247.156M715.2 -5.34045L157.7 373.79M1272.31 269.935L715.199 -5.33997M1272.7 297.345L715.2 -5.34241M715.2 -5.34241L1272.7 331.321M715.2 -5.34241L1272.7 427.839M715.2 -5.34241L1272.7 500.423M715.2 -5.34241L1272.7 602.349M715.2 -5.34241L1201.66 658.716M715.2 -5.34241L710.568 658.716M715.2 -5.34241L157.7 297.345M715.2 -5.34241L157.7 331.321M715.2 -5.34241L157.7 427.839M715.2 -5.34241L157.7 500.423M715.2 -5.34241L157.7 602.349M1078.11 658.716L715.199 -5.34174M715.199 -5.34174L955.342 658.716M715.199 -5.34174L597.831 658.716M832.57 658.716L715.201 -5.34174M715.201 -5.34174L228.74 658.716M715.201 -5.34174L352.286 658.716M715.201 -5.34174L475.059 658.716M158.088 269.935L715.202 -5.33997M1272.7 577.639H160.789M1272.7 513.55H160.789M1272.7 461.044H160.789M1272.7 419.346H160.789M1272.7 383.827H160.789M1272.7 354.483H160.789M1272.7 329.005H160.789M1272.7 306.611H160.789M1272.7 286.536H160.789M1272.7 269.548H160.789M1272.7 254.878H160.789M1272.7 240.979H160.789"
                    stroke="url(#paint4_radial_150_1260)" />
                <path d="M1193.7 646.716L740.397 27.9215" stroke="url(#paint5_linear_150_1260)" stroke-width="2.15" />
                <path d="M237.398 646.716L690.701 27.9215" stroke="url(#paint6_linear_150_1260)" stroke-width="2.15" />
                <path d="M1240.7 512.716H204.578" stroke="url(#paint7_linear_150_1260)" stroke-width="2.15" />
                <path d="M1240.7 578.716H204.578" stroke="url(#paint8_linear_150_1260)" stroke-width="2.15" />
                <g filter="url(#filter0_f_150_1260)">
                    <path
                        d="M1124.2 604.167C975.489 604.167 807.708 609.312 668.715 586.273C570.711 570.029 504.006 535.546 499.122 496.229C498.184 488.681 505.398 480.999 503.511 473.517C502.725 470.402 495.808 467.612 490.815 465.373C473.229 457.488 453.907 450.141 436.113 442.317C413.223 432.253 389.936 422.161 380 409.396C370.15 396.744 357.191 385.263 338.307 373.952C309.712 356.824 268.122 344.137 224.2 332.658"
                        stroke="url(#paint9_linear_150_1260)" stroke-width="9" stroke-linecap="round" />
                </g>
            </g>
            <defs>
                <filter id="filter0_f_150_1260" x="95.6993" y="204.157" width="1157" height="529.003"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="62" result="effect1_foregroundBlur_150_1260" />
                </filter>
                <linearGradient id="paint0_linear_150_1260" x1="945.7" y1="517.716" x2="941.2" y2="460.716"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1C1C20" />
                    <stop offset="1" stop-color="#1C1C20" stop-opacity="0" />
                    <stop offset="1" stop-color="#1C1C20" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint1_linear_150_1260" x1="449.7" y1="581.716" x2="445.2" y2="524.716"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1C1C20" />
                    <stop offset="1" stop-color="#1C1C20" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint2_linear_150_1260" x1="271.2" y1="423.716" x2="266.7" y2="366.716"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1C1C20" />
                    <stop offset="1" stop-color="#1C1C20" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint3_linear_150_1260" x1="1217.2" y1="585.216" x2="1228.2" y2="640.716"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1C1C20" />
                    <stop offset="1" stop-color="#1C1C20" stop-opacity="0" />
                </linearGradient>
                <radialGradient id="paint4_radial_150_1260" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(715.2 450.146) rotate(-90) scale(234.93 588.424)">
                    <stop stop-color="#1C1C20" />
                    <stop offset="1" stop-color="#34363C" stop-opacity="0" />
                </radialGradient>
                <linearGradient id="paint5_linear_150_1260" x1="1001.85" y1="386.101" x2="1131.5" y2="556.87"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#3BC9DB" stop-opacity="0" />
                    <stop offset="0.424496" stop-color="#3BC9DB" />
                    <stop offset="1" stop-color="#3BC9DB" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint6_linear_150_1260" x1="476.704" y1="315.719" x2="331.401" y2="518.879"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#49136F" stop-opacity="0" />
                    <stop offset="0.424496" stop-color="#7D0FC5" />
                    <stop offset="1" stop-color="#49136F" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint7_linear_150_1260" x1="646.7" y1="513.119" x2="372.97" y2="513.118"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F52685" stop-opacity="0" />
                    <stop offset="0.424496" stop-color="#F52685" />
                    <stop offset="1" stop-color="#F52685" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint8_linear_150_1260" x1="1119.2" y1="578.717" x2="776.2" y2="579.118"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0673F2" stop-opacity="0" />
                    <stop offset="0.424496" stop-color="#0673F2" />
                    <stop offset="1" stop-color="#0673F2" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint9_linear_150_1260" x1="1177.7" y1="540.158" x2="216.548" y2="338.787"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#4CC9F0" />
                    <stop offset="0.28684" stop-color="#4361EE" />
                    <stop offset="0.670985" stop-color="#F72585" />
                    <stop offset="0.846773" stop-color="#7209B7" />
                </linearGradient>
                <clipPath id="clip0_150_1260">
                    <rect width="1487" height="664.059" fill="white" transform="translate(0.200439 0.657593)" />
                </clipPath>
            </defs>
        </svg>

        <div class="absolute inset-0" style="box-shadow: inset 0 0 100px 100px #16161a"></div>
    </div>
    <div class="relative flex flex-col items-center max-w-xl mx-auto text-center">
        <%= image_tag asset_path("maybe-box-glow.png"), class: 'w-36', alt: '' %>

        <h2 class="font-display text-4xl font-semibold">
            <span class="gradient-heading">Turn</span>
            <span class="gradient-heading">your</span>
            <span class="gradient-heading">maybe</span>
            <br class="hidden sm:inline" />
            <span class="gradient-heading">into</span>
            <span class="gradient-heading">a</span>
            <span class="gradient-heading">sure</span>
            <span class="gradient-heading">thing</span>
        </h2>

        <p class="mt-1 text-lg sm:max-w-xl mx-auto text-gray-50">
            Get started with Maybe and start realizing your financial dreams.
        </p>

        <a href="https://app.maybe.co/register"
            class="mt-7 py-2 px-4 font-medium text-base text-black bg-white hover:bg-gray-25 rounded-lg transition-colors duration-50">
            Get Started
        </a>
    </div>
</div>