<div class="flex items-center justify-center p-4 text-center"
    style="background-image: linear-gradient(90deg, rgba(248, 249, 250, 0.08) 31.25%, rgba(248, 249, 250, 0.0016) 79.51%)">
    <span>
        We&rsquo;re in the process of refreshing <span class="underline">maybe.co</span>, so some pages like this one
        are still being worked on
    </span>
</div>