<section class="p-4 mx-auto max-w-7xl sm:px-8">
  <div class="max-w-xl px-4 py-6 mx-auto bg-gray-900 md:max-w-2xl xs:p-6 sm:p-12 rounded-2xl text-left">
    <h2 class="mb-4 text-xl font-display font-semibold leading-none xs:text-2xl md:text-3xl">
      Request early access
    </h2>

    <p class="mb-6 md:text-xl opacity-80 sm:mb-8">
      Modern financial planning & investment management. Get early access and help shape the product by dropping in your email address.
    </p>

    <%= render "partials/early-access-form" %>
  </div>
</section>
