<!-- prettier-ignore -->
<div class="relative">
  <svg width="1600" height="1800" viewBox="0 0 1600 1800" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_149_652)">
      <g filter="url(#filter0_f_149_652)">
        <path
          d="M692.08 336.755L309.518 577.305L1247.78 519.554L354.241 760.796L921.939 913.076L911.054 1101.84L455.14 1274.43"
          stroke="url(#paint0_linear_149_652)" stroke-opacity="0.6" stroke-width="69" />
      </g>
      <mask id="mask0_149_652" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="24" y="-28" width="1440"
        height="712">
        <rect x="24" y="-27.2015" width="1440" height="710.664" fill="url(#paint1_radial_149_652)" />
      </mask>
      <g mask="url(#mask0_149_652)">
        <path
          d="M144 366.424H1344M144 344.312H1344M144 322.199H1344M144 300.087H1344M144 277.974H1344M144 255.862H1344M144 233.749H1344M144 211.637H1344M144 189.524H1344M144 167.412H1344M144 145.299H1344M144 123.187H1344M144 101.074H1344M144 631.775H1344M144 609.662H1344M144 587.55H1344M144 565.437H1344M144 543.325H1344M144 521.212H1344M144 499.1H1344M144 476.987H1344M144 454.875H1344M144 432.762H1344M144 410.649H1344M144 388.537H1344"
          stroke="url(#paint2_radial_149_652)" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"
          stroke-dasharray="1 8" />
        <path
          d="M241.143 485.349C261.749 471.987 282.348 458.609 303.545 445.989C547.479 300.754 976.927 477.225 1125.48 112"
          stroke="url(#paint3_linear_149_652)" stroke-width="2" stroke-miterlimit="16" stroke-linejoin="round" />
        <path
          d="M241.143 485.349C261.749 471.987 282.348 458.609 303.545 445.989C547.479 300.754 976.927 477.225 1125.48 112"
          stroke="white" stroke-opacity="0.1" stroke-width="2" stroke-miterlimit="16" stroke-linejoin="round" />
        <path
          d="M241.143 485.349C261.749 471.987 282.348 458.609 303.545 445.989C547.479 300.754 976.927 477.225 1125.48 112"
          stroke="#5E158B" stroke-width="2" stroke-miterlimit="16" stroke-linejoin="round" />
        <path opacity="0.5"
          d="M1125.48 112C976.927 477.225 547.479 300.754 303.545 445.989C282.73 458.382 262.491 471.506 242.256 484.628L241.143 485.349H1125.48V112Z"
          fill="url(#paint4_radial_149_652)" fill-opacity="0.3" />
        <g filter="url(#filter1_d_149_652)">
          <path d="M924.994 319.254C874.842 340.221 820.111 351.996 763.59 359.743" stroke="url(#paint5_linear_149_652)"
            stroke-width="2" stroke-miterlimit="16" stroke-linejoin="round" shape-rendering="crispEdges" />
          <path d="M924.994 319.254C874.842 340.221 820.111 351.996 763.59 359.743" stroke="url(#paint6_linear_149_652)"
            stroke-width="2" stroke-miterlimit="16" stroke-linejoin="round" style="mix-blend-mode:overlay"
            shape-rendering="crispEdges" />
        </g>
        <g filter="url(#filter2_d_149_652)">
          <rect x="847.318" y="338.394" width="10" height="10" rx="5" fill="#B122EA" />
        </g>
        <g filter="url(#filter3_f_149_652)">
          <rect x="604" y="343.174" width="476.861" height="146.378" transform="rotate(-18.1102 604 343.174)"
            fill="url(#paint7_radial_149_652)" fill-opacity="0.5" />
        </g>
        <g filter="url(#filter4_bi_149_652)">
          <rect x="810.666" y="274" width="76" height="56" rx="12" fill="url(#paint8_linear_149_652)"
            fill-opacity="0.11" />
          <text fill="#F8F9FA" fill-opacity="0.4" xml:space="preserve" style="white-space: pre" font-family="Inter"
            font-size="12" letter-spacing="0em">
            <tspan x="833.127" y="294.364">2049</tspan>
          </text>
          <text fill="#F8F9FA" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="14"
            letter-spacing="-0.006em">
            <tspan x="826.966" y="315.091">$256k</tspan>
          </text>
          <rect x="811.166" y="274.5" width="75" height="55" rx="11.5" stroke="url(#paint9_radial_149_652)"
            stroke-opacity="0.05" />
        </g>
      </g>
    </g>
    <defs>
      <filter id="filter0_f_149_652" x="-142.518" y="-56.4512" width="1763.29" height="1727.14"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="182" result="effect1_foregroundBlur_149_652" />
      </filter>
      <filter id="filter1_d_149_652" x="748.454" y="303.332" width="191.926" height="72.4016"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset />
        <feGaussianBlur stdDeviation="7.5" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.568627 0 0 0 0 0.0941176 0 0 0 0 0.807843 0 0 0 0.5 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_149_652" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_149_652" result="shape" />
      </filter>
      <filter id="filter2_d_149_652" x="831.318" y="322.394" width="42" height="42" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset />
        <feGaussianBlur stdDeviation="8" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.403922 0 0 0 0 0.0901961 0 0 0 0 0.607843 0 0 0 0.8 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_149_652" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_149_652" result="shape" />
      </filter>
      <filter id="filter3_f_149_652" x="588" y="178.944" width="530.738" height="319.357" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="8" result="effect1_foregroundBlur_149_652" />
      </filter>
      <filter id="filter4_bi_149_652" x="778.666" y="242" width="140" height="120" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="16" />
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_149_652" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_149_652" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect2_innerShadow_149_652" />
        <feOffset />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow_149_652" />
      </filter>
      <linearGradient id="paint0_linear_149_652" x1="668.753" y1="336.367" x2="659.112" y2="916.346"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#7209B7" />
        <stop offset="1" stop-color="#7209B7" />
      </linearGradient>
      <radialGradient id="paint1_radial_149_652" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(776.649 277.52) rotate(90) scale(740.309 398.574)">
        <stop />
        <stop offset="0.536458" />
        <stop offset="0.84375" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint2_radial_149_652" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(739.542 353.747) rotate(88.7246) scale(200.278 1149.38)">
        <stop stop-color="#E0B0FF" />
        <stop offset="1" stop-color="#34363C" stop-opacity="0" />
      </radialGradient>
      <linearGradient id="paint3_linear_149_652" x1="1011.75" y1="233.598" x2="237.863" y2="415.379"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#7209B7" stop-opacity="0" />
        <stop offset="0.486298" stop-color="#7209B7" />
        <stop offset="1" stop-color="#7209B7" stop-opacity="0" />
      </linearGradient>
      <radialGradient id="paint4_radial_149_652" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(836.441 343.875) rotate(74.3379) scale(126 485.643)">
        <stop offset="0.213607" stop-color="#9018CE" />
        <stop offset="0.98472" stop-color="#1A1B1D" stop-opacity="0" />
      </radialGradient>
      <linearGradient id="paint5_linear_149_652" x1="1011.75" y1="233.598" x2="237.861" y2="415.379"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#7209B7" stop-opacity="0" />
        <stop offset="0.486298" stop-color="#7209B7" />
        <stop offset="1" stop-color="#7209B7" stop-opacity="0" />
      </linearGradient>
      <linearGradient id="paint6_linear_149_652" x1="909.71" y1="326.65" x2="783.94" y2="359.743"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="white" stop-opacity="0" />
        <stop offset="0.525889" stop-color="white" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <radialGradient id="paint7_radial_149_652" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(842.43 416.363) rotate(16.4494) scale(244.64 171.522)">
        <stop stop-color="#7209B7" />
        <stop offset="0.7" stop-color="#1C1727" stop-opacity="0" />
      </radialGradient>
      <linearGradient id="paint8_linear_149_652" x1="878.148" y1="306.706" x2="855.439" y2="322.471"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="white" />
        <stop offset="0.0666667" stop-color="white" stop-opacity="0.995676" />
        <stop offset="0.133333" stop-color="white" stop-opacity="0.982245" />
        <stop offset="0.2" stop-color="white" stop-opacity="0.95917" />
        <stop offset="0.266667" stop-color="white" stop-opacity="0.926294" />
        <stop offset="0.333333" stop-color="white" stop-opacity="0.884113" />
        <stop offset="0.4" stop-color="white" stop-opacity="0.834058" />
        <stop offset="0.466667" stop-color="white" stop-opacity="0.778654" />
        <stop offset="0.533333" stop-color="white" stop-opacity="0.721346" />
        <stop offset="0.6" stop-color="white" stop-opacity="0.665942" />
        <stop offset="0.666667" stop-color="white" stop-opacity="0.615887" />
        <stop offset="0.733333" stop-color="white" stop-opacity="0.573706" />
        <stop offset="0.8" stop-color="white" stop-opacity="0.54083" />
        <stop offset="0.866667" stop-color="white" stop-opacity="0.517755" />
        <stop offset="0.933333" stop-color="white" stop-opacity="0.504324" />
        <stop offset="1" stop-color="white" stop-opacity="0.5" />
      </linearGradient>
      <radialGradient id="paint9_radial_149_652" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(870.024 255.519) rotate(142.455) scale(64.9223 248.989)">
        <stop stop-color="white" />
        <stop offset="1" stop-color="#F8F9FA" stop-opacity="0" />
      </radialGradient>
      <clipPath id="clip0_149_652">
        <rect width="1600" height="1800" fill="white" />
      </clipPath>
    </defs>
  </svg>
</div>