<div class="grid grid-rows-3 grid-cols-1 md:grid-rows-2 md:grid-cols-2 lg:grid-rows-1 lg:grid-cols-3 gap-6 z-10 relative">
  <a href="https://maybe.co/community" class="flex flex-col justify-start items-start text-white bg-gray-900 rounded-2xl p-4 xs:p-6 md:p-10 group text-left transform-gpu transition-transform hover:scale-105">
     <i class="w-20 h-20 flex items-center justify-center rounded-3xl mb-6"><img src="/img/community-logo.svg" alt="Join the Community" class="w-20 h-20 rounded-3xl"></i>
     <h3 class="mb-6 text-xl font-extrabold md:mb-8 font-display md:text-2xl">Join the Community</h3>
     <div class="flex items-center justify-between w-full px-5 py-4 mt-auto font-medium transition-colors bg-black rounded-md group-hover:bg-opacity-50">Join community<i class="transition-all transform opacity-50 ri-arrow-right-line ri-lg group-hover:opacity-100 group-hover:translate-x-1"></i></div>
  </a>
  <a href="https://twitter.com/maybe" class="flex flex-col justify-start items-start text-white bg-gray-900 rounded-2xl p-4 xs:p-6 md:p-10 group text-left transform-gpu transition-transform hover:scale-105">
     <i class="w-20 h-20 flex items-center justify-center rounded-3xl mb-6 ri-twitter-fill bg-twitter text-white text-5xl"></i>
     <h3 class="mb-6 text-xl font-extrabold md:mb-8 font-display md:text-2xl">Follow on Twitter</h3>
     <div class="flex items-center justify-between w-full px-5 py-4 mt-auto font-medium transition-colors bg-black rounded-md group-hover:bg-opacity-50">Follow @maybe<i class="transition-all transform opacity-50 ri-arrow-right-line ri-lg group-hover:opacity-100 group-hover:translate-x-1"></i></div>
  </a>
  <a href="/tools" class="flex flex-col justify-start items-start text-white bg-gray-900 rounded-2xl p-4 xs:p-6 md:p-10 group text-left transform-gpu transition-transform hover:scale-105">
     <i class="w-20 h-20 flex items-center justify-center rounded-3xl mb-6 ri-calculator-line bg-red text-red bg-opacity-10 text-5xl"></i>
     <h3 class="mb-6 text-xl font-extrabold md:mb-8 font-display md:text-2xl">Check out our mini-tools</h3>
     <div class="flex items-center justify-between w-full px-5 py-4 mt-auto font-medium transition-colors bg-black rounded-md group-hover:bg-opacity-50">See all tools<i class="transition-all transform opacity-50 ri-arrow-right-line ri-lg group-hover:opacity-100 group-hover:translate-x-1"></i></div>
  </a>
</div>
