<div class="absolute js-background-swoop text-yellow left-0 bottom-0" data-direction="ltr">
   <svg width="991" height="344" viewBox="0 0 991 344" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.5" d="M-73 36.4139C199.5 409.999 724.5 457.5 978.209 12.0328" stroke="url(#swoop-gradient-RiNHxl0-YQDSrrMAkZO6C)" stroke-width="24" stroke-linecap="round"></path>
      <defs>
         <linearGradient id="paint0_linear_4754_41422" x1="956.32" y1="31.6848" x2="210.067" y2="187.427" gradientUnits="userSpaceOnUse">
            <stop stop-color="#19181D"></stop>
            <stop offset="1" stop-color="#FCC419"></stop>
         </linearGradient>
      </defs>
      <defs>
         <linearGradient id="swoop-gradient-xZdsfI1puae9HltZ4crPz" x1="0%" x2="0%">
            <stop stop-opacity="1" stop-color="currentColor"></stop>
            <stop offset="1" stop-opacity="0" stop-color="currentColor"></stop>
         </linearGradient>
      </defs>
      <defs>
         <linearGradient id="swoop-gradient-RiNHxl0-YQDSrrMAkZO6C" x1="0%" x2="0%">
            <stop stop-opacity="1" stop-color="currentColor"></stop>
            <stop offset="1" stop-opacity="0" stop-color="currentColor"></stop>
         </linearGradient>
      </defs>
   </svg>
</div>
