<div class="absolute js-background-swoop text-purple right-0 top-1/4" data-direction="rtl">
   <svg width="777" height="220" viewBox="0 0 777 220" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.5" d="M829.893 127.434C486.566 274.126 210.067 209.627 12.5855 12.9871" stroke="url(#swoop-gradient-5HnJtsMC59iAjC6oCSOry)" stroke-width="24" stroke-linecap="round"></path>
      <defs>
         <linearGradient id="paint0_linear_4754_41423" x1="30.0664" y1="27.1262" x2="628.566" y2="251.126" gradientUnits="userSpaceOnUse">
            <stop stop-color="#19181D"></stop>
            <stop offset="1" stop-color="#52EDFF"></stop>
         </linearGradient>
      </defs>
      <defs>
         <linearGradient id="swoop-gradient-kYxcPs5z-785UQslS5DOT" x1="0.006943750000004911%" x2="100%">
            <stop stop-opacity="0" stop-color="currentColor"></stop>
            <stop offset="1" stop-opacity="1" stop-color="currentColor"></stop>
         </linearGradient>
      </defs>
      <defs>
         <linearGradient id="swoop-gradient-5HnJtsMC59iAjC6oCSOry" x1="0.006943750000004911%" x2="100%">
            <stop stop-opacity="0" stop-color="currentColor"></stop>
            <stop offset="1" stop-opacity="1" stop-color="currentColor"></stop>
         </linearGradient>
      </defs>
   </svg>
</div>
