<div class="flex flex-col justify-start items-start text-white bg-gray-900 rounded-2xl p-4 xs:p-6 md:p-10 group text-left transform-gpu transition-transform hover:scale-105">
  <i class="w-20 h-20 flex items-center justify-center rounded-3xl mb-6 bg-yellow text-yellow bg-opacity-10 text-5xl ri-book-mark-line"></i>
  <h3 class="mb-6 text-xl font-extrabold md:mb-8 font-display md:text-2xl">
    Want to suggest a term?
  </h3>
  <p class="mb-6 text-lg opacity-80 sm:mb-8">
    Know something we’re missing in this dictionary? Let us know! You can
    also email us at <a href="mailto:hello@maybe.co" class="font-medium underline text-teal" >hello@maybe.co</a>.
  </p>
  <div class="flex flex-col w-full gap-2">
    <a
      href="/dictionary#term-suggestion"
      class="flex items-center justify-between w-full px-5 py-4 mt-auto font-medium transition-colors bg-black rounded-md group-hover:bg-opacity-50"
    >
      Suggest term
      <i class="transition-all transform opacity-50 ri-arrow-right-line ri-lg group-hover:opacity-100 group-hover:translate-x-1"></i>
    </a>
  </div>
</div>
