<div class="bg-gray-900 rounded-2xl p-6 sm:p-8 md:p-10 h-full">
  <div class="flex space-x-2 text-gray-400">
    <a href="/dictionary" class="hover:underline">
      Financial Dictionary
    </a>
    <i class="ri-arrow-right-s-line"></i>
    <span>
      <%= @term[:term] %>
    </span>
  </div>

  <div class="flex justify-between items-start mt-4 sm:mt-8 space-x-2">
    <div class="flex flex-col space-y-2">
      <div class="text-white text-xl sm:text-3xl font-display font-black group-hover:underline">
        <%= @term[:term] %>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="text-content contained-blockquote">
      <%= @term[:definition].html_safe %>
    </div>
  </div>
</div>
