<!-- prettier-ignore -->
<div class="relative">
  <svg width="1600" height="1700" viewBox="0 0 1600 1700" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_147_922)">
      <g style="mix-blend-mode:hard-light" filter="url(#filter0_f_147_922)">
        <path
          d="M696.917 158.291L310.163 478.795L1255.82 397.293L354.229 721.464L925.386 920L913.395 1169.95L453.104 1400.88"
          stroke="url(#paint0_linear_147_922)" stroke-opacity="0.7" stroke-width="69" />
      </g>
      <mask id="mask0_147_922" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-174" y="-136" width="1948"
        height="972">
        <rect x="-173.47" y="-135.819" width="1946.94" height="971.121" fill="url(#paint1_radial_147_922)" />
      </mask>
      <g mask="url(#mask0_147_922)">
        <g opacity="0.9" filter="url(#filter1_f_147_922)">
          <path d="M757.971 519L494 248.496M835.89 506.624L819.988 110.003M950.383 506.624L1142 77" stroke="#4361EE"
            stroke-width="37" />
        </g>
        <mask id="mask1_147_922" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="370" y="226" width="873"
          height="279">
          <path d="M776.369 505L370.405 352.5L837.665 226L1242.62 378.5L776.369 505Z" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask1_147_922)">
          <path
            d="M823.024 492.148L805.53 485.563L782.454 476.882L759.309 483.234L735.726 489.586L695.104 474.32L718.669 467.968L741.832 461.616L764.89 470.297L782.385 476.882L805.967 470.53L829.113 464.178L852.188 472.859L869.682 479.465L916.41 466.93L898.916 460.346L875.911 451.77L852.765 458.122L829.183 464.474L811.688 457.889L788.613 449.208L765.467 455.56L741.885 461.912L724.39 455.328L701.332 446.646L678.152 452.998L654.569 459.35L613.982 444.085L411.045 367.861L370.405 352.256L544.756 305.04L604.132 289.096L627.208 297.777L644.702 304.383L668.267 298.031L691.43 291.785L714.506 300.466L732 307.051L755.583 300.699L778.728 294.347L801.821 303.113L819.316 309.698L842.898 303.346L866.061 296.994L889.101 305.675L906.596 312.26L930.161 305.908L953.324 299.556L976.399 308.237L993.894 314.822L1017.48 308.47L1040.64 302.287L1081.21 317.447L1058.06 323.799L1034.48 330.151L1016.99 323.566L993.911 314.885L970.766 321.237L947.183 327.589L929.689 321.004L906.631 312.323L883.468 318.675L859.885 325.027L842.391 318.421L819.316 309.592L796.17 315.944L772.588 322.296L755.093 315.711L732.018 307.03L708.872 313.382L685.29 319.734L667.795 313.149L644.737 304.468L621.574 310.82L597.992 317.172L580.497 310.587L557.422 301.906L510.694 314.61L533.769 323.291L551.264 329.876L574.846 323.524L597.992 317.32L621.067 326.001L638.562 332.586L662.127 326.234L685.29 319.882L708.347 328.563L725.842 335.148V335.254L749.425 328.902L772.57 322.55L795.645 331.231L813.14 337.816L836.723 331.464L859.868 325.112L882.943 333.772L900.438 340.378L924.003 334.026L947.166 327.674L970.224 336.355L987.718 342.94L1011.3 336.588L1034.45 330.236L1057.52 338.917L1075.02 345.523L1098.6 339.171L1121.76 332.925L1243.52 378.702L1196.76 391.405L1179.27 384.821L1156.21 376.14L1133.05 382.492L1109.46 388.843L1091.97 382.259L1068.98 373.429L1045.84 379.781L1022.25 386.133L1004.76 379.548L981.683 370.867L958.537 377.219L934.955 383.571L917.46 376.965L894.402 368.305L871.239 374.657L847.657 381.009L830.162 374.425L807.069 365.468L783.924 371.82L760.341 378.172L742.847 371.566L719.701 362.843L696.539 369.195L672.973 375.547L655.479 368.962L632.421 360.281L609.258 366.633L585.676 372.985V372.879L568.181 366.294L545.106 357.613L521.908 363.732L498.325 370.084L480.831 363.499L457.738 354.839L434.575 361.191L411.01 367.543L370.405 352.256L417.15 339.552L440.208 348.233L457.703 354.818L481.285 348.466L504.431 342.114L527.506 350.922L545.001 357.528L568.583 351.176L591.729 344.824L614.804 353.505L632.299 360.09L655.864 353.738L679.027 347.492L702.102 356.194L719.596 362.843L743.179 356.491L766.429 350.139L789.575 358.883L807.069 365.468L830.652 359.116L853.797 352.764L876.873 361.445L894.367 368.051L917.932 361.699L941.095 355.347L964.153 364.028L981.648 370.613L1005.23 364.261L1028.38 357.909L1051.45 366.59L1068.95 373.175L1092.53 366.823L1115.67 360.471L1138.75 369.131L1156.24 375.737L1179.81 369.385L1202.97 363.033L1162.38 347.873L1139.29 354.373L1115.71 360.725L1098.21 354.119L1075.14 345.46L1051.99 351.811L1028.41 358.163L1010.92 351.579L987.771 342.813L964.625 349.165L941.043 355.517H940.938L923.443 348.911L900.455 340.23L877.293 346.582L853.71 352.934L836.215 346.349L813.14 337.668L789.995 344.02L766.412 350.372L748.917 343.787L725.842 335.106L702.749 341.458L679.167 347.81L661.672 341.204L638.614 332.523L615.451 338.875L591.869 345.227L574.374 338.642L551.299 329.961L528.048 335.868L504.413 342.22L486.919 335.614L463.878 326.954L504.413 342.22L457.72 354.924L498.343 370.169L451.58 382.873L475.145 376.521L498.308 370.169L521.383 378.85L538.878 385.456L562.46 379.104L585.606 372.752L608.681 381.433L626.175 388.018L649.741 381.666L672.903 375.314L696.031 384.016L713.526 390.601L737.109 384.249L760.254 377.897L783.329 386.578L800.824 393.163L824.406 386.811L847.552 380.459L870.627 389.14L888.122 395.725L911.687 389.373L934.85 383.021L957.908 391.681L975.402 398.287L998.985 391.935L1022.25 386.133L1045.33 394.814L1062.82 401.399L1086.41 395.047L1109.55 388.695L1132.63 397.376L1150.12 403.961L1103.48 416.665L1085.99 410.08L1062.91 401.399L1039.76 407.751L1016.18 414.103H1016.01L998.512 407.518L975.437 398.837L952.274 405.189L928.709 411.541L911.215 404.956L888.157 396.275L864.994 402.627L841.411 408.979L823.917 402.394L800.841 393.713L777.696 400.065L754.113 406.417V406.29L736.619 399.705L713.561 391.024L690.398 397.376L666.833 403.728L649.338 397.143L626.28 388.462L603.118 394.814L579.535 401.166L562.04 394.56L538.913 385.265L515.767 391.617L492.167 397.969L532.754 413.235L556.337 406.883L579.482 400.531L602.575 409.424L620.07 416.009L643.653 409.657L666.815 403.305L689.856 411.986L707.35 418.571L730.915 412.219L754.078 405.867L777.154 414.548L794.648 421.154L818.231 414.802L841.376 408.556L864.452 417.237L881.946 423.822L905.529 417.47L928.622 411.118L951.784 420.011L969.279 426.595H969.384L992.967 420.243L1016.2 413.997L1039.27 422.678L1056.77 429.263L1010.01 441.713L992.512 435.107L969.384 426.363L946.221 432.714L922.656 439.066L905.161 432.482L882.086 423.801L858.941 430.153L835.358 436.505L817.864 429.898L794.823 421.217L771.678 427.569L748.095 433.921L730.601 427.336L707.35 418.571L684.187 424.923L660.605 431.275L643.11 424.69L620.035 416.009L596.89 422.361L573.307 428.713L613.894 443.979L637.477 437.627L660.622 431.275L683.75 440.04L701.245 446.625L724.81 440.273L747.973 433.921L771.048 442.602L788.543 449.187L812.125 442.835L835.271 436.483L858.346 445.164L875.841 451.749L899.423 445.397L922.656 439.066L945.714 447.747L963.208 454.332L1243.63 378.723L1000.09 287.127L976.942 293.373L953.359 299.725L935.864 293.14L912.772 284.502L889.609 290.854L866.044 297.206L848.549 290.6L825.474 281.94L802.258 288.186L778.676 294.538L761.181 287.953L738.106 279.272L714.96 285.624L691.378 291.976L673.883 285.391L650.825 276.71L697.553 264.006L720.559 272.708L738.053 279.293H738.141L761.723 272.941L784.869 266.695L808.032 275.355L825.526 281.961L849.109 275.609L872.272 269.363L895.329 278.044L912.824 284.629L936.389 278.277L959.552 271.925L918.965 256.765L895.802 263.011L872.237 269.363L854.742 262.778L831.562 253.949L808.399 260.195L784.816 266.547L767.322 259.941L744.264 251.26L790.992 238.704L814.067 247.385L831.562 253.97L855.127 247.618L878.29 241.266L837.755 226L814.172 232.352L790.992 238.704L767.427 245.056L744.264 251.408L720.681 257.76L697.536 264.112L673.953 270.464L650.808 276.71L627.225 283.062L604.062 289.414L580.497 295.766L557.334 302.012L533.769 308.364L510.606 314.335L487.024 320.687L463.878 327.039L440.296 333.391L417.15 339.552L393.568 345.904L370.405 352.256L393.48 360.937L410.975 367.522L434.033 376.203L451.527 382.788L474.672 391.554L492.167 398.139L515.242 406.82L532.737 413.404L555.725 422.128L573.219 428.734L596.295 437.394L613.789 444L637.022 452.596L654.517 459.202L677.592 467.883L695.087 474.468L718.144 483.149L735.639 489.734L758.697 498.415L776.191 505L799.774 498.648L822.919 492.296L846.502 485.944L869.647 479.592L893.23 473.24L916.48 466.888L940.046 460.536L963.208 454.184L986.774 447.832L1009.94 441.48L1033.52 435.128L1056.66 428.776L1080.25 422.424L1103.43 416.221L1127.01 409.869L1150.17 403.517L1173.74 397.165L1196.9 390.813L1220.48 384.461L1243.63 378.384L1220.55 369.639L1203.06 363.054L1179.98 354.373L1162.49 347.789L1139.47 339.552L1121.97 332.967L1098.9 324.286L1081.4 317.701L1058.24 309.084L1040.74 302.499L1017.67 293.86L1000.17 287.275L977.117 278.594L959.622 271.988L936.529 263.328L919.035 256.722L895.959 248.041L878.465 241.456L855.249 232.627L837.755 226"
            stroke="url(#paint2_radial_147_922)" stroke-width="0.8" stroke-linejoin="round"
            style="mix-blend-mode:screen" />
          <path
            d="M823.024 492.148L805.53 485.563L782.454 476.882L759.309 483.234L735.726 489.586L695.104 474.32L718.669 467.968L741.832 461.616L764.89 470.297L782.385 476.882L805.967 470.53L829.113 464.178L852.188 472.859L869.682 479.465L916.41 466.93L898.916 460.346L875.911 451.77L852.765 458.122L829.183 464.474L811.688 457.889L788.613 449.208L765.467 455.56L741.885 461.912L724.39 455.328L701.332 446.646L678.152 452.998L654.569 459.35L613.982 444.085L411.045 367.861L370.405 352.256L544.756 305.04L604.132 289.096L627.208 297.777L644.702 304.383L668.267 298.031L691.43 291.785L714.506 300.466L732 307.051L755.583 300.699L778.728 294.347L801.821 303.113L819.316 309.698L842.898 303.346L866.061 296.994L889.101 305.675L906.596 312.26L930.161 305.908L953.324 299.556L976.399 308.237L993.894 314.822L1017.48 308.47L1040.64 302.287L1081.21 317.447L1058.06 323.799L1034.48 330.151L1016.99 323.566L993.911 314.885L970.766 321.237L947.183 327.589L929.689 321.004L906.631 312.323L883.468 318.675L859.885 325.027L842.391 318.421L819.316 309.592L796.17 315.944L772.588 322.296L755.093 315.711L732.018 307.03L708.872 313.382L685.29 319.734L667.795 313.149L644.737 304.468L621.574 310.82L597.992 317.172L580.497 310.587L557.422 301.906L510.694 314.61L533.769 323.291L551.264 329.876L574.846 323.524L597.992 317.32L621.067 326.001L638.562 332.586L662.127 326.234L685.29 319.882L708.347 328.563L725.842 335.148V335.254L749.425 328.902L772.57 322.55L795.645 331.231L813.14 337.816L836.723 331.464L859.868 325.112L882.943 333.772L900.438 340.378L924.003 334.026L947.166 327.674L970.224 336.355L987.718 342.94L1011.3 336.588L1034.45 330.236L1057.52 338.917L1075.02 345.523L1098.6 339.171L1121.76 332.925L1243.52 378.702L1196.76 391.405L1179.27 384.821L1156.21 376.14L1133.05 382.492L1109.46 388.843L1091.97 382.259L1068.98 373.429L1045.84 379.781L1022.25 386.133L1004.76 379.548L981.683 370.867L958.537 377.219L934.955 383.571L917.46 376.965L894.402 368.305L871.239 374.657L847.657 381.009L830.162 374.425L807.069 365.468L783.924 371.82L760.341 378.172L742.847 371.566L719.701 362.843L696.539 369.195L672.973 375.547L655.479 368.962L632.421 360.281L609.258 366.633L585.676 372.985V372.879L568.181 366.294L545.106 357.613L521.908 363.732L498.325 370.084L480.831 363.499L457.738 354.839L434.575 361.191L411.01 367.543L370.405 352.256L417.15 339.552L440.208 348.233L457.703 354.818L481.285 348.466L504.431 342.114L527.506 350.922L545.001 357.528L568.583 351.176L591.729 344.824L614.804 353.505L632.299 360.09L655.864 353.738L679.027 347.492L702.102 356.194L719.596 362.843L743.179 356.491L766.429 350.139L789.575 358.883L807.069 365.468L830.652 359.116L853.797 352.764L876.873 361.445L894.367 368.051L917.932 361.699L941.095 355.347L964.153 364.028L981.648 370.613L1005.23 364.261L1028.38 357.909L1051.45 366.59L1068.95 373.175L1092.53 366.823L1115.67 360.471L1138.75 369.131L1156.24 375.737L1179.81 369.385L1202.97 363.033L1162.38 347.873L1139.29 354.373L1115.71 360.725L1098.21 354.119L1075.14 345.46L1051.99 351.811L1028.41 358.163L1010.92 351.579L987.771 342.813L964.625 349.165L941.043 355.517H940.938L923.443 348.911L900.455 340.23L877.293 346.582L853.71 352.934L836.215 346.349L813.14 337.668L789.995 344.02L766.412 350.372L748.917 343.787L725.842 335.106L702.749 341.458L679.167 347.81L661.672 341.204L638.614 332.523L615.451 338.875L591.869 345.227L574.374 338.642L551.299 329.961L528.048 335.868L504.413 342.22L486.919 335.614L463.878 326.954L504.413 342.22L457.72 354.924L498.343 370.169L451.58 382.873L475.145 376.521L498.308 370.169L521.383 378.85L538.878 385.456L562.46 379.104L585.606 372.752L608.681 381.433L626.175 388.018L649.741 381.666L672.903 375.314L696.031 384.016L713.526 390.601L737.109 384.249L760.254 377.897L783.329 386.578L800.824 393.163L824.406 386.811L847.552 380.459L870.627 389.14L888.122 395.725L911.687 389.373L934.85 383.021L957.908 391.681L975.402 398.287L998.985 391.935L1022.25 386.133L1045.33 394.814L1062.82 401.399L1086.41 395.047L1109.55 388.695L1132.63 397.376L1150.12 403.961L1103.48 416.665L1085.99 410.08L1062.91 401.399L1039.76 407.751L1016.18 414.103H1016.01L998.512 407.518L975.437 398.837L952.274 405.189L928.709 411.541L911.215 404.956L888.157 396.275L864.994 402.627L841.411 408.979L823.917 402.394L800.841 393.713L777.696 400.065L754.113 406.417V406.29L736.619 399.705L713.561 391.024L690.398 397.376L666.833 403.728L649.338 397.143L626.28 388.462L603.118 394.814L579.535 401.166L562.04 394.56L538.913 385.265L515.767 391.617L492.167 397.969L532.754 413.235L556.337 406.883L579.482 400.531L602.575 409.424L620.07 416.009L643.653 409.657L666.815 403.305L689.856 411.986L707.35 418.571L730.915 412.219L754.078 405.867L777.154 414.548L794.648 421.154L818.231 414.802L841.376 408.556L864.452 417.237L881.946 423.822L905.529 417.47L928.622 411.118L951.784 420.011L969.279 426.595H969.384L992.967 420.243L1016.2 413.997L1039.27 422.678L1056.77 429.263L1010.01 441.713L992.512 435.107L969.384 426.363L946.221 432.714L922.656 439.066L905.161 432.482L882.086 423.801L858.941 430.153L835.358 436.505L817.864 429.898L794.823 421.217L771.678 427.569L748.095 433.921L730.601 427.336L707.35 418.571L684.187 424.923L660.605 431.275L643.11 424.69L620.035 416.009L596.89 422.361L573.307 428.713L613.894 443.979L637.477 437.627L660.622 431.275L683.75 440.04L701.245 446.625L724.81 440.273L747.973 433.921L771.048 442.602L788.543 449.187L812.125 442.835L835.271 436.483L858.346 445.164L875.841 451.749L899.423 445.397L922.656 439.066L945.714 447.747L963.208 454.332L1243.63 378.723L1000.09 287.127L976.942 293.373L953.359 299.725L935.864 293.14L912.772 284.502L889.609 290.854L866.044 297.206L848.549 290.6L825.474 281.94L802.258 288.186L778.676 294.538L761.181 287.953L738.106 279.272L714.96 285.624L691.378 291.976L673.883 285.391L650.825 276.71L697.553 264.006L720.559 272.708L738.053 279.293H738.141L761.723 272.941L784.869 266.695L808.032 275.355L825.526 281.961L849.109 275.609L872.272 269.363L895.329 278.044L912.824 284.629L936.389 278.277L959.552 271.925L918.965 256.765L895.802 263.011L872.237 269.363L854.742 262.778L831.562 253.949L808.399 260.195L784.816 266.547L767.322 259.941L744.264 251.26L790.992 238.704L814.067 247.385L831.562 253.97L855.127 247.618L878.29 241.266L837.755 226L814.172 232.352L790.992 238.704L767.427 245.056L744.264 251.408L720.681 257.76L697.536 264.112L673.953 270.464L650.808 276.71L627.225 283.062L604.062 289.414L580.497 295.766L557.334 302.012L533.769 308.364L510.606 314.335L487.024 320.687L463.878 327.039L440.296 333.391L417.15 339.552L393.568 345.904L370.405 352.256L393.48 360.937L410.975 367.522L434.033 376.203L451.527 382.788L474.672 391.554L492.167 398.139L515.242 406.82L532.737 413.404L555.725 422.128L573.219 428.734L596.295 437.394L613.789 444L637.022 452.596L654.517 459.202L677.592 467.883L695.087 474.468L718.144 483.149L735.639 489.734L758.697 498.415L776.191 505L799.774 498.648L822.919 492.296L846.502 485.944L869.647 479.592L893.23 473.24L916.48 466.888L940.046 460.536L963.208 454.184L986.774 447.832L1009.94 441.48L1033.52 435.128L1056.66 428.776L1080.25 422.424L1103.43 416.221L1127.01 409.869L1150.17 403.517L1173.74 397.165L1196.9 390.813L1220.48 384.461L1243.63 378.384L1220.55 369.639L1203.06 363.054L1179.98 354.373L1162.49 347.789L1139.47 339.552L1121.97 332.967L1098.9 324.286L1081.4 317.701L1058.24 309.084L1040.74 302.499L1017.67 293.86L1000.17 287.275L977.117 278.594L959.622 271.988L936.529 263.328L919.035 256.722L895.959 248.041L878.465 241.456L855.249 232.627L837.755 226"
            stroke="url(#paint3_radial_147_922)" stroke-width="0.8" stroke-linejoin="round"
            style="mix-blend-mode:screen" />
          <g opacity="0.6" filter="url(#filter2_f_147_922)">
            <ellipse rx="283.762" ry="34.4093" transform="matrix(-0.963242 -0.268637 0.271063 -0.962562 965.576 273.35)"
              fill="#4361EE" />
          </g>
          <g filter="url(#filter3_f_147_922)">
            <ellipse cx="830.129" cy="240" rx="63.8087" ry="28" fill="#4361EE" />
          </g>
          <path d="M1241 378.423L776.394 504.475L372.032 352.577L837.64 226.525L1241 378.423Z"
            fill="url(#paint4_linear_147_922)" fill-opacity="0.6" stroke="url(#paint5_radial_147_922)" />
          <g filter="url(#filter4_f_147_922)">
            <ellipse cx="631.408" cy="432.752" rx="74.4566" ry="3.71226" transform="rotate(-15.4762 631.408 432.752)"
              fill="#0B0B40" fill-opacity="0.8" />
          </g>
          <g filter="url(#filter5_f_147_922)">
            <ellipse cx="812.339" cy="381.736" rx="102.833" ry="3.71226" transform="rotate(-15.4762 812.339 381.736)"
              fill="#0B0B40" fill-opacity="0.8" />
          </g>
          <g filter="url(#filter6_f_147_922)">
            <ellipse cx="1024.92" cy="320.517" rx="102.833" ry="3.71226" transform="rotate(-15.4762 1024.92 320.517)"
              fill="#0B0B40" />
          </g>
        </g>
        <g filter="url(#filter7_bii_147_922)">
          <g clip-path="url(#clip1_147_922)">
            <rect width="210" height="116" rx="16"
              transform="matrix(0.96841 -0.249362 -0.00977836 0.999952 498.808 340.903)" fill="#232428"
              fill-opacity="0.15" />
            <text transform="matrix(0.96841 -0.249362 -0.00977836 0.999952 514.147 352.913)" fill="#F8F9FA"
              xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="14"
              letter-spacing="-0.006em">
              <tspan x="0" y="15.0909">Is my current investing </tspan>
              <tspan x="0" y="35.0909">strategy on track?</tspan>
            </text>
            <g filter="url(#filter8_bi_147_922)">
              <g clip-path="url(#clip2_147_922)">
                <rect width="164" height="32" rx="11"
                  transform="matrix(0.96841 -0.249362 -0.00977836 0.999952 513.638 404.91)" fill="white"
                  fill-opacity="0.01" />
                <g clip-path="url(#clip3_147_922)">
                  <path
                    d="M524.516 412.084L524.411 422.75L534.741 420.09L534.728 421.423L523.107 424.415L523.224 412.416L524.516 412.084ZM534.367 411.736L535.271 412.444L531.549 417.197L529.632 415.697L526.833 419.272L525.929 418.564L529.651 413.811L531.568 415.311L534.367 411.736V411.736Z"
                    fill="#4361EE" />
                </g>
                <text transform="matrix(0.96841 -0.249362 -0.00977836 0.999952 540.675 405.928)" fill="#F8F9FA"
                  xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="12" font-weight="500"
                  letter-spacing="0em">
                  <tspan x="0" y="12.3636">Portfolio management</tspan>
                </text>
              </g>
            </g>
          </g>
          <rect x="0.479316" y="0.375295" width="209" height="115" rx="15.5"
            transform="matrix(0.96841 -0.249362 -0.00977836 0.999952 498.827 341.023)"
            stroke="url(#paint6_radial_147_922)" stroke-opacity="0.5" />
        </g>
        <g filter="url(#filter9_bii_147_922)">
          <g clip-path="url(#clip4_147_922)">
            <rect width="210" height="116" rx="16"
              transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 715.301 283.668)" fill="#232428"
              fill-opacity="0.15" />
            <text transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 730.32 295.47)" fill="#F8F9FA"
              xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="14"
              letter-spacing="-0.006em">
              <tspan x="0" y="15.0909">What can I do to minimize </tspan>
              <tspan x="0" y="35.0909">taxes annually?</tspan>
            </text>
            <g filter="url(#filter10_bi_147_922)">
              <g clip-path="url(#clip5_147_922)">
                <rect width="77" height="32" rx="11"
                  transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 728.95 347.452)" fill="white"
                  fill-opacity="0.01" />
                <g clip-path="url(#clip6_147_922)">
                  <path
                    d="M747.349 364.291C746.752 364.454 746.186 364.363 745.775 364.041C745.364 363.718 745.143 363.189 745.159 362.57C745.175 361.952 745.428 361.294 745.862 360.742C746.296 360.19 746.875 359.789 747.472 359.626C748.07 359.464 748.636 359.554 749.047 359.877C749.457 360.2 749.679 360.729 749.663 361.348C749.646 361.966 749.393 362.624 748.96 363.176C748.526 363.728 747.947 364.129 747.349 364.291V364.291ZM747.384 362.959C747.64 362.889 747.889 362.717 748.075 362.481C748.261 362.244 748.369 361.962 748.376 361.697C748.383 361.432 748.288 361.205 748.112 361.067C747.936 360.928 747.693 360.89 747.437 360.959C747.181 361.029 746.933 361.201 746.747 361.437C746.561 361.674 746.453 361.956 746.446 362.221C746.439 362.486 746.534 362.713 746.71 362.851C746.886 362.989 747.129 363.028 747.384 362.959ZM740.465 358.882C740.17 358.962 739.879 358.982 739.608 358.939C739.338 358.895 739.095 358.791 738.891 358.631C738.688 358.471 738.529 358.259 738.423 358.007C738.317 357.755 738.267 357.467 738.275 357.161C738.283 356.855 738.349 356.536 738.47 356.222C738.591 355.908 738.763 355.606 738.978 355.333C739.193 355.059 739.446 354.82 739.722 354.629C739.998 354.437 740.293 354.297 740.588 354.217C741.186 354.055 741.752 354.145 742.163 354.468C742.574 354.791 742.795 355.32 742.779 355.938C742.762 356.557 742.51 357.215 742.076 357.767C741.642 358.319 741.063 358.72 740.465 358.882V358.882ZM740.501 357.549C740.757 357.48 741.005 357.308 741.191 357.071C741.377 356.835 741.485 356.553 741.492 356.288C741.499 356.022 741.404 355.796 741.228 355.657C741.052 355.519 740.809 355.48 740.553 355.55C740.297 355.619 740.049 355.791 739.863 356.028C739.677 356.265 739.569 356.546 739.562 356.812C739.555 357.077 739.65 357.303 739.826 357.442C740.002 357.58 740.245 357.619 740.501 357.549V357.549ZM748.667 352.364L749.552 353.06L739.271 366.144L738.386 365.449L748.667 352.365L748.667 352.364Z"
                    fill="#4361EE" />
                </g>
                <text transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 755.76 348.113)" fill="#F8F9FA"
                  xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="12" font-weight="500"
                  letter-spacing="0em">
                  <tspan x="0" y="12.3636">US Tax</tspan>
                </text>
              </g>
            </g>
          </g>
          <rect x="0.469354" y="0.368818" width="209" height="115" rx="15.5"
            transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 715.327 283.791)"
            stroke="url(#paint7_radial_147_922)" />
        </g>
        <g filter="url(#filter11_bii_147_922)">
          <g clip-path="url(#clip7_147_922)">
            <rect width="220.953" height="116" rx="16"
              transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 927.879 224.744)" fill="#232428"
              fill-opacity="0.15" />
            <text transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 942.898 236.546)" fill="#F8F9FA"
              xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="14"
              letter-spacing="-0.006em">
              <tspan x="0" y="15.0909">How much should I be </tspan>
              <tspan x="0" y="35.0909">setting aside for retirement?</tspan>
            </text>
            <g filter="url(#filter12_bi_147_922)">
              <g clip-path="url(#clip8_147_922)">
                <rect width="99" height="32" rx="11"
                  transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 941.528 288.528)" fill="white"
                  fill-opacity="0.01" />
                <g clip-path="url(#clip9_147_922)">
                  <path
                    d="M959.927 305.367C959.33 305.529 958.764 305.439 958.353 305.116C957.942 304.794 957.721 304.265 957.737 303.646C957.753 303.027 958.006 302.37 958.44 301.818C958.874 301.266 959.453 300.864 960.05 300.702C960.648 300.54 961.214 300.63 961.625 300.953C962.035 301.276 962.257 301.805 962.241 302.423C962.224 303.042 961.972 303.7 961.538 304.252C961.104 304.804 960.525 305.205 959.927 305.367V305.367ZM959.963 304.034C960.219 303.965 960.467 303.793 960.653 303.556C960.839 303.32 960.947 303.038 960.954 302.773C960.961 302.508 960.866 302.281 960.69 302.143C960.514 302.004 960.271 301.966 960.015 302.035C959.759 302.105 959.511 302.277 959.325 302.513C959.139 302.75 959.031 303.032 959.024 303.297C959.017 303.562 959.112 303.789 959.288 303.927C959.464 304.065 959.707 304.104 959.963 304.034ZM953.044 299.958C952.748 300.038 952.457 300.057 952.187 300.014C951.916 299.971 951.673 299.867 951.469 299.707C951.266 299.547 951.107 299.335 951.001 299.083C950.895 298.831 950.845 298.543 950.853 298.237C950.861 297.93 950.928 297.611 951.048 297.298C951.169 296.984 951.342 296.682 951.556 296.408C951.771 296.135 952.024 295.896 952.3 295.704C952.576 295.513 952.871 295.373 953.167 295.293C953.764 295.131 954.33 295.221 954.741 295.544C955.152 295.867 955.373 296.395 955.357 297.014C955.341 297.633 955.088 298.29 954.654 298.842C954.22 299.395 953.641 299.796 953.044 299.958V299.958ZM953.079 298.625C953.335 298.556 953.583 298.384 953.769 298.147C953.955 297.91 954.063 297.628 954.07 297.363C954.077 297.098 953.982 296.872 953.806 296.733C953.63 296.595 953.387 296.556 953.131 296.626C952.876 296.695 952.627 296.867 952.441 297.104C952.255 297.34 952.147 297.622 952.14 297.887C952.133 298.153 952.228 298.379 952.404 298.518C952.58 298.656 952.823 298.695 953.079 298.625V298.625ZM961.245 293.44L962.13 294.136L951.849 307.22L950.964 306.524L961.245 293.44L961.245 293.44Z"
                    fill="#4361EE" />
                </g>
                <text transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 968.339 289.189)" fill="#F8F9FA"
                  xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="12" font-weight="500"
                  letter-spacing="0em">
                  <tspan x="0" y="12.3636">Retirement</tspan>
                </text>
              </g>
            </g>
          </g>
          <rect x="0.469354" y="0.368818" width="219.953" height="115" rx="15.5"
            transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 927.905 224.867)"
            stroke="url(#paint8_radial_147_922)" stroke-opacity="0.9" />
        </g>
      </g>
    </g>
    <defs>
      <filter id="filter0_f_147_922" x="-116.817" y="-188.273" width="1704.31" height="1939.98"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="160" result="effect1_foregroundBlur_147_922" />
      </filter>
      <filter id="filter1_f_147_922" x="264.76" y="-146.536" width="1110.14" height="894.456"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="108" result="effect1_foregroundBlur_147_922" />
      </filter>
      <filter id="filter2_f_147_922" x="508.083" y="6.21533" width="914.987" height="534.269"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="92" result="effect1_foregroundBlur_147_922" />
      </filter>
      <filter id="filter3_f_147_922" x="558.32" y="4" width="543.617" height="472" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="104" result="effect1_foregroundBlur_147_922" />
      </filter>
      <filter id="filter4_f_147_922" x="539.644" y="392.561" width="183.528" height="80.3817"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_147_922" />
      </filter>
      <filter id="filter5_f_147_922" x="693.23" y="334.061" width="238.218" height="95.3499"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_147_922" />
      </filter>
      <filter id="filter6_f_147_922" x="905.806" y="272.842" width="238.218" height="95.3499"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_147_922" />
      </filter>
      <filter id="filter7_bii_147_922" x="467.674" y="258.537" width="264.5" height="228.36"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="15" />
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_147_922" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_147_922" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset />
        <feGaussianBlur stdDeviation="1" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.262745 0 0 0 0 0.380392 0 0 0 0 0.933333 0 0 0 0.1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow_147_922" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect3_innerShadow_147_922" />
        <feOffset />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.262745 0 0 0 0 0.380392 0 0 0 0 0.933333 0 0 0 0.02 0" />
        <feBlend mode="normal" in2="effect2_innerShadow_147_922" result="effect3_innerShadow_147_922" />
      </filter>
      <filter id="filter8_bi_147_922" x="483.325" y="334.015" width="219.132" height="132.894"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="15" />
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_147_922" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_147_922" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect2_innerShadow_147_922" />
        <feOffset />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.02 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow_147_922" />
      </filter>
      <filter id="filter9_bii_147_922" x="682.244" y="198.645" width="265.721" height="230.983"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="15" />
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_147_922" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_147_922" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset />
        <feGaussianBlur stdDeviation="1" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.262745 0 0 0 0 0.380392 0 0 0 0 0.933333 0 0 0 0.1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow_147_922" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect3_innerShadow_147_922" />
        <feOffset />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.262745 0 0 0 0 0.380392 0 0 0 0 0.933333 0 0 0 0.02 0" />
        <feBlend mode="normal" in2="effect2_innerShadow_147_922" result="effect3_innerShadow_147_922" />
      </filter>
      <filter id="filter10_bi_147_922" x="698.106" y="297.277" width="135.153" height="112.164"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="15" />
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_147_922" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_147_922" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect2_innerShadow_147_922" />
        <feOffset />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.02 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow_147_922" />
      </filter>
      <filter id="filter11_bii_147_922" x="894.822" y="136.851" width="276.291" height="233.853"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="15" />
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_147_922" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_147_922" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset />
        <feGaussianBlur stdDeviation="1" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.262745 0 0 0 0 0.380392 0 0 0 0 0.933333 0 0 0 0.1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow_147_922" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect3_innerShadow_147_922" />
        <feOffset />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.262745 0 0 0 0 0.380392 0 0 0 0 0.933333 0 0 0 0.02 0" />
        <feBlend mode="normal" in2="effect2_innerShadow_147_922" result="effect3_innerShadow_147_922" />
      </filter>
      <filter id="filter12_bi_147_922" x="910.684" y="232.588" width="156.385" height="117.929"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="15" />
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_147_922" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_147_922" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect2_innerShadow_147_922" />
        <feOffset />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.02 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow_147_922" />
      </filter>
      <linearGradient id="paint0_linear_147_922" x1="673.417" y1="157.903" x2="660.747" y2="925.746"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#4361EE" />
        <stop offset="1" stop-color="#4361EE" />
      </linearGradient>
      <radialGradient id="paint1_radial_147_922" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(746.488 240.469) rotate(86.086) scale(510.955 758.628)">
        <stop />
        <stop offset="0.208333" />
        <stop offset="0.625" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint2_radial_147_922" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(806.515 364.914) rotate(-131.821) scale(262.217 538.654)">
        <stop offset="0.00258869" stop-color="#2C3B83" />
        <stop offset="1" stop-color="#2C2D32" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint3_radial_147_922" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(839.172 366) rotate(-83.5537) scale(210.33 433.875)">
        <stop offset="0.00258869" stop-color="#01030A" />
        <stop offset="1" stop-color="#2C2D32" stop-opacity="0" />
      </radialGradient>
      <linearGradient id="paint4_linear_147_922" x1="859.27" y1="119" x2="818.461" y2="434.051"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#4361EE" />
        <stop offset="1" stop-color="#4361EE" stop-opacity="0" />
      </linearGradient>
      <radialGradient id="paint5_radial_147_922" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(806.515 218.5) rotate(90) scale(211.5 661.199)">
        <stop stop-color="#4361EE" />
        <stop offset="0.456871" stop-color="#4361EE" />
        <stop offset="1" stop-color="#4361EE" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint6_radial_147_922" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(221.683 49.8784) rotate(147.133) scale(104.473 117.887)">
        <stop stop-color="#405DE3" />
        <stop offset="1" stop-color="#4361EE" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint7_radial_147_922" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(120.669 1.08475) rotate(93.6759) scale(53.5934 125.007)">
        <stop stop-color="#405DE3" />
        <stop offset="1" stop-color="#4361EE" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint8_radial_147_922" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(30.6557 150.341) rotate(-26.5605) scale(139.429 163.781)">
        <stop stop-color="#405DE3" />
        <stop offset="1" stop-color="#4361EE" stop-opacity="0" />
      </radialGradient>
      <clipPath id="clip0_147_922">
        <rect width="1600" height="1700" fill="white" />
      </clipPath>
      <clipPath id="clip1_147_922">
        <rect width="210" height="116" rx="16"
          transform="matrix(0.96841 -0.249362 -0.00977836 0.999952 498.808 340.903)" fill="white" />
      </clipPath>
      <clipPath id="clip2_147_922">
        <rect width="164" height="32" rx="11" transform="matrix(0.96841 -0.249362 -0.00977836 0.999952 513.638 404.91)"
          fill="white" />
      </clipPath>
      <clipPath id="clip3_147_922">
        <rect width="16" height="16" fill="white"
          transform="matrix(0.96841 -0.249362 -0.00977836 0.999952 521.307 410.915)" />
      </clipPath>
      <clipPath id="clip4_147_922">
        <rect width="210" height="116" rx="16"
          transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 715.301 283.668)" fill="white" />
      </clipPath>
      <clipPath id="clip5_147_922">
        <rect width="77" height="32" rx="11" transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 728.95 347.452)"
          fill="white" />
      </clipPath>
      <clipPath id="clip6_147_922">
        <rect width="16" height="16" fill="white"
          transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 736.459 353.353)" />
      </clipPath>
      <clipPath id="clip7_147_922">
        <rect width="220.953" height="116" rx="16"
          transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 927.879 224.744)" fill="white" />
      </clipPath>
      <clipPath id="clip8_147_922">
        <rect width="99" height="32" rx="11" transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 941.528 288.528)"
          fill="white" />
      </clipPath>
      <clipPath id="clip9_147_922">
        <rect width="16" height="16" fill="white"
          transform="matrix(0.965064 -0.262016 -0.0263561 0.999653 949.037 294.429)" />
      </clipPath>
    </defs>
  </svg>
</div>