<%- 
   title "Ask Maybe"
   description "Questions about anything finance-related? Get free advice from our in-house certified financial planner."
   legacy
-%>
<div class="relative overflow-hidden">
   <div class="absolute top-0 left-0 z-0 text-blue js-background-swoop">
      <svg width="632" height="381" viewBox="0 0 632 381" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M-623 371C-555.573 314.412 -368.791 201.237 -161.071 201.237C98.5774 201.237 72.1331 326.458 297.785 326.458C478.307 326.458 574.955 112.153 620 5" stroke-width="24"/>
      </svg>
   </div>
   <div class="relative z-10 max-w-6xl px-4 py-16 mx-auto sm:px-8">
      <header class="mb-12 text-center">
         <h1 class="mb-4 text-2xl font-extrabold font-display sm:text-4xl lg:text-5xl">
          Ask Maybe
         </h1>
      </header>

      <article class="mb-12 text-center text-content">
        <iframe class="airtable-embed" src="https://airtable.com/embed/shrEKmjNB9OMAcF2Y?backgroundColor=teal" frameborder="0" onmousewheel="" width="100%" height="1450" style="background: transparent; border: 0;"></iframe>
      </article>
   </div>
</div>
