<%- 
  title "Now Subscribe" 
  meta_image "meta-newsletter.png"
  description "Welcome to Maybe Now, a monthly email delivered to your inbox that curates the best stuff we find on how to live well, love work, and invest wisely."
  legacy
-%>

<div class="relative overflow-hidden">
  <div class="absolute left-0 z-0 opacity-50 top-16 text-yellow js-background-swoop">
    <svg width="661" height="206" viewBox="0 0 661 206" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M-480 193C-418.757 165.015 -287.951 48.8569 -99.2822 48.8569C136.553 48.8569 151.38 170.972 356.337 170.972C520.302 170.972 608.086 64.9908 649 12"
        stroke-width="24" stroke-linecap="round" />
    </svg>
  </div>
  <div class="relative z-10 max-w-6xl px-4 pb-32 mx-auto pt-14 sm:px-8">
    <header class="text-center">
      <h1 class="text-lg font-extrabold sm:text-2xl lg:text-2xl font-display">maybe <span class="text-yellow">now</span>
      </h1>
      <h2 class="mt-12 text-2xl font-extrabold sm:text-4xl lg:text-5xl lg:leading-snug font-display sm:mt-16">
        Free up your time. <div>Afford the <span class="highlight">things you&nbsp;want.</span></div>
      </h2>
    </header>
    <div
      class="max-w-sm px-2 py-12 mx-auto leading-normal text-center xs:text-lg sm:text-xl lg:text-2xl sm:max-w-md md:max-w-2xl lg:max-w-3xl">
      <p class="text-white text-opacity-80">Subscribe to <span
          class="font-normal text-white text-opacity-100 whitespace-nowrap">Maybe Now</span> — a monthly email with our
        best resource picks on how to <span class="font-normal text-white text-opacity-100 whitespace-nowrap">live well,
          love work,</span> and <span class="font-normal text-white text-opacity-100 whitespace-nowrap">invest
          wisely.</span></p>
    </div>
    <div class="mt-8">
      <div class="max-w-md mx-auto">
        <%= render 'partials/newsletter-sign-up' %>
        <p class="mt-5 text-base text-center text-gray-100">No charge. No spam. Unsubscribe anytime.</p>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 right-0 z-0 opacity-20 text-yellow js-background-swoop ">
    <svg width="893" height="206" viewBox="0 0 893 206" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13 193C74.2426 165.015 205.049 48.8569 393.718 48.8569C629.553 48.8569 644.38 170.972 849.337 170.972C1013.3 170.972 1101.09 64.9908 1142 12"
        stroke-width="24" stroke-linecap="round" />
    </svg>
  </div>
</div>