<%- 
  title "Now Subscribed" 
  legacy
-%>
<div class="relative overflow-hidden">
  <div class="absolute top-52 left-0 z-0 opacity-50 text-yellow js-background-swoop">
    <svg width="918" height="206" viewBox="0 0 918 206" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M-223 193C-161.757 165.015 -30.9506 48.8569 157.718 48.8569C393.553 48.8569 408.38 170.972 613.337 170.972C777.302 170.972 865.086 64.9908 906 12" stroke-width="24" stroke-linecap="round"/>
    </svg>
  </div>
  <div class="relative z-10 max-w-5xl px-4 pt-14 mx-auto sm:px-12 lg:pb-12">
    <header class="text-center">
      <h1 class="text-2xl sm:text-4xl lg:text-5xl font-extrabold lg:leading-snug font-display mt-10 sm:mt-16">
         Thanks for subscribing to maybe&nbsp;<span class="text-yellow">now</span>
      </h1>
    </header>
    <div class="text-base lg:text-lg sm:max-w-xl md:max-w-2xl sm:px-4 mx-auto py-12 lg:pt-20">
      <p class="sm:text-xl lg:text-2xl font-display font-extrabold">It’s wonderful to have you on the inside of our growing community.</p>
      <div class="space-y-6">
        <p class="mt-12">Each month you’ll get a hand-picked selection of eye-opening resources to help you:</p>
        <ul class="list-outside list-disc pl-7 space-y-6">
          <li>
            <b class="font-semibold">Evolve your &ldquo;money mindset&rdquo;</b> so you can guide and motivate yourself towards financial independence
          </li>
          <li>
            <b class="font-semibold">Refine the way you manage your money and plan for your future</b> so you know what you can and can’t afford to do (and what &ldquo;enough&rdquo; really is)
          </li>
          <li>
            <b class="font-semibold">Invest smartly and effectively</b> so you can create the financial freedom to work on what you want when you want
          </li>
          <li>
            <b class="font-semibold">Boost your financial health to promote peace of mind</b>, and a sense of control when it comes to enriching your quality of life
          </li>
        </ul>
        <p>Our ultimate goal is to make it so you (and your family) never have to worry about money again.</p>
        
        <p>But for now, we’d simply like to say welcome and well done for taking more focused steps toward a stronger financial future.</p>
        
        <p>If you head on over to your inbox now — there should be an email with some finer details. Plus a little somethin' extra to help you with your finances, today.</p>
        
        <p class="font-semibold">Welcome to Maybe Now!</p>
      </div>
      
    </div>
  </div>
</div>
