<%-
  title "Now Unsubscribe"
  legacy
-%>
<div class="relative overflow-hidden">
  <div class="absolute bottom-6 left-0 z-0 opacity-50 text-yellow js-background-swoop">
    <svg width="926" height="206" viewBox="0 0 926 206" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M-215 193C-153.757 165.015 -22.9506 48.8569 165.718 48.8569C401.553 48.8569 416.38 170.972 621.337 170.972C785.302 170.972 873.086 64.9908 914 12" stroke-width="24" stroke-linecap="round"/>
    </svg>  
  </div>
  <div class="relative z-10 max-w-6xl px-4 pb-32 pt-14 mx-auto sm:px-8">
    <header class="text-center">
      <h1 class="text-2xl sm:text-4xl lg:text-5xl font-extrabold lg:leading-snug font-display mt-10 sm:mt-16">
         <span class="highlight">Thank you</span> for updating your email preferences with us!
      </h1>
    </header>
    <div class="xs:text-base sm:text-lg lg:text-xl leading-normal text-center max-w-sm sm:max-w-md md:max-w-2xl lg:max-w-3xl px-2 mx-auto py-12">
      <p class="text-white">You have been successfully unsubscribed from Maybe's newsletter.</p>
    </div>
  </div>
</div>
