<%- 
   title "Roadmap"
   meta_image "meta-roadmap.png"
   description "Check out our Roadmap for Maybe and join us on the journey of empowering consumers to be financially literate with actionable tools and advice so they can become independent sooner rather than later."
   legacy
-%>

<div id="roadmap-app" class="relative overflow-hidden"></div>
<%= javascript_pack_tag 'roadmap' %>
<%= stylesheet_pack_tag 'roadmap', media: 'all' %>

<%= render "partials/get-started" %>