<!-- prettier-ignore -->
<div class="relative">
    <svg width="1600" height="1854" viewBox="0 0 1600 1854" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_155_971)">
            <path d="M572.5 192.5L542.5 138H641L661 193L572.5 192.5Z" fill="url(#paint0_linear_155_971)" />
            <path d="M1014 140L1038.5 74H1148L1111.5 141L1014 140Z" fill="url(#paint1_linear_155_971)" />
            <path d="M1183.5 269.5L1217 232L1298.5 232.5L1257.5 270L1183.5 269.5Z" fill="url(#paint2_linear_155_971)" />
            <path d="M293 75L230.5 6H351L400 74L293 75Z" fill="url(#paint3_linear_155_971)" />
            <path
                d="M270.5 405.56L828 658.057M828 658.057L270.5 278.927M828 658.057L1385.5 405.56M828 658.057L1385.5 278.927M270.888 382.781L828.002 658.056M270.5 355.372L828 658.059M828 658.059L270.5 321.396M828 658.059L270.5 224.878M828 658.059L270.5 152.293M828 658.059L270.5 50.3675M828 658.059L341.539 -6M828 658.059L832.633 -6M828 658.059L1385.5 355.372M828 658.059L1385.5 321.396M828 658.059L1385.5 224.878M828 658.059L1385.5 152.293M828 658.059L1385.5 50.3675M465.085 -6L828.001 658.058M828.001 658.058L587.858 -6M828.001 658.058L945.369 -6M710.631 -6L827.999 658.058M827.999 658.058L1314.46 -6M827.999 658.058L1190.91 -6M827.999 658.058L1068.14 -6M1385.11 382.781L827.998 658.056M270.5 75.0771H1382.41M270.5 139.166H1382.41M270.5 191.673H1382.41M270.5 233.371H1382.41M270.5 268.889H1382.41M270.5 298.233H1382.41M270.5 323.712H1382.41M270.5 346.105H1382.41M270.5 366.181H1382.41M270.5 383.169H1382.41M270.5 397.839H1382.41M270.5 411.737H1382.41"
                stroke="url(#paint4_radial_155_971)" />
            <path d="M349.5 6L802.803 624.795" stroke="url(#paint5_linear_155_971)" stroke-width="2.15" />
            <path d="M1305.8 6L852.501 624.795" stroke="url(#paint6_linear_155_971)" stroke-width="2.15" />
            <path d="M302.5 140L1338.62 140" stroke="url(#paint7_linear_155_971)" stroke-width="2.15" />
            <path d="M302.5 74L1338.62 74" stroke="url(#paint8_linear_155_971)" stroke-width="2.15" />
            <g filter="url(#filter0_f_155_971)">
                <path
                    d="M419 51.5489C567.712 51.5489 735.493 46.4043 874.486 69.4431C972.49 85.6878 1039.19 120.17 1044.08 159.488C1045.02 167.036 1037.8 174.718 1039.69 182.199C1040.48 185.315 1047.39 188.105 1052.39 190.343C1069.97 198.228 1089.29 205.576 1107.09 213.399C1129.98 223.463 1153.26 233.556 1163.2 246.32C1173.05 258.973 1186.01 270.453 1204.89 281.764C1233.49 298.893 1275.08 311.579 1319 323.059"
                    stroke="url(#paint9_linear_155_971)" stroke-width="9" stroke-linecap="round" />
            </g>
            <g filter="url(#filter1_f_155_971)">
                <path
                    d="M310 1366.49C477.053 1366.49 665.527 1371.84 821.662 1347.87C931.753 1330.97 1006.68 1295.09 1012.17 1254.19C1013.22 1246.33 1005.12 1238.34 1007.24 1230.56C1008.12 1227.31 1015.89 1224.41 1021.5 1222.08C1041.26 1213.88 1062.96 1206.23 1082.95 1198.09C1108.66 1187.62 1134.82 1177.12 1145.99 1163.84C1157.05 1150.68 1171.61 1138.73 1192.82 1126.96C1224.94 1109.14 1271.66 1095.94 1321 1084"
                    stroke="url(#paint10_linear_155_971)" stroke-width="25" stroke-linecap="round" />
            </g>
        </g>
        <defs>
            <filter id="filter0_f_155_971" x="290.5" y="-77.4431" width="1157" height="529.003"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="62" result="effect1_foregroundBlur_155_971" />
            </filter>
            <filter id="filter1_f_155_971" x="-30.5" y="743.497" width="1692" height="964.007"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="164" result="effect1_foregroundBlur_155_971" />
            </filter>
            <linearGradient id="paint0_linear_155_971" x1="597.5" y1="135" x2="602" y2="192"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#1C1C20" />
                <stop offset="1" stop-color="#1C1C20" stop-opacity="0" />
                <stop offset="1" stop-color="#1C1C20" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint1_linear_155_971" x1="1093.5" y1="71" x2="1098" y2="128"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#1C1C20" />
                <stop offset="1" stop-color="#1C1C20" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint2_linear_155_971" x1="1272" y1="229" x2="1276.5" y2="286"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#1C1C20" />
                <stop offset="1" stop-color="#1C1C20" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint3_linear_155_971" x1="326" y1="67.5" x2="315" y2="12"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#1C1C20" />
                <stop offset="1" stop-color="#1C1C20" stop-opacity="0" />
            </linearGradient>
            <radialGradient id="paint4_radial_155_971" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(828 202.57) rotate(90) scale(234.93 588.424)">
                <stop stop-color="#1C1C20" />
                <stop offset="1" stop-color="#34363C" stop-opacity="0" />
            </radialGradient>
            <linearGradient id="paint5_linear_155_971" x1="541.348" y1="266.615" x2="411.699" y2="95.8469"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#3BC9DB" stop-opacity="0" />
                <stop offset="0.424496" stop-color="#3BC9DB" />
                <stop offset="1" stop-color="#3BC9DB" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint6_linear_155_971" x1="1066.5" y1="336.998" x2="1211.8" y2="133.838"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#49136F" stop-opacity="0" />
                <stop offset="0.424496" stop-color="#7D0FC5" />
                <stop offset="1" stop-color="#49136F" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint7_linear_155_971" x1="896.5" y1="139.598" x2="1170.23" y2="139.598"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F52685" stop-opacity="0" />
                <stop offset="0.424496" stop-color="#F52685" />
                <stop offset="1" stop-color="#F52685" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint8_linear_155_971" x1="424" y1="73.9999" x2="767" y2="73.5982"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#0673F2" stop-opacity="0" />
                <stop offset="0.424496" stop-color="#0673F2" />
                <stop offset="1" stop-color="#0673F2" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint9_linear_155_971" x1="365.5" y1="115.559" x2="1326.65" y2="316.929"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#4CC9F0" />
                <stop offset="0.28684" stop-color="#4361EE" />
                <stop offset="0.670985" stop-color="#F72585" />
                <stop offset="0.846773" stop-color="#7209B7" />
            </linearGradient>
            <linearGradient id="paint10_linear_155_971" x1="249.902" y1="1299.89" x2="1322.13" y2="1057.35"
                gradientUnits="userSpaceOnUse">
                <stop offset="0.271341" stop-color="#4CC9F0" />
                <stop offset="0.670985" stop-color="#F72585" />
            </linearGradient>
            <clipPath id="clip0_155_971">
                <rect width="1600" height="1854" fill="white" />
            </clipPath>
        </defs>
    </svg>
</div>