<% title "Server error"%>
<div class="flex flex-col items-center justify-center px-4 py-6 text-center min-h-2/3-screen">
  <svg class="mb-10 max-w-xs px-8 sm:p-0" viewBox="0 0 354 93" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="282" width="49.0566" height="18.3962" rx="9.19811" fill="#4CC9F0"/>
    <rect x="163" y="74" width="49.0566" height="18.3962" rx="9.19811" fill="#F72585"/>
    <rect x="196.963" y="24.5283" width="30.6604" height="18.3962" rx="9.19811" fill="#4361EE"/>
    <rect x="97" y="25" width="49" height="18" rx="9" fill="#4361EE"/>
    <rect x="62" y="49" width="35" height="18" rx="9" fill="#7209B7"/>
    <rect x="152" y="49" width="33.7264" height="18.3962" rx="9.19811" fill="#7209B7"/>
    <rect x="29" y="74" width="72" height="18" rx="9" fill="#F72585"/>
    <g class="animate-flicker-fast">
      <rect x="154.037" width="49.0566" height="18.3962" rx="9.19811" fill="#4CC9F0"/>
      <rect y="49" width="31" height="18" rx="9" fill="#7209B7"/>
      <rect x="47" y="25" width="30" height="18" rx="9" fill="#4361EE"/>
      <rect x="288" y="25" width="66" height="18" rx="9" fill="#4361EE"/>
    </g>
    <g class="animate-flicker-slow">
      <path d="M9 9C9 4.02944 13.0294 0 18 0H59C63.9706 0 68 4.02944 68 9V9C68 13.9706 63.9706 18 59 18H18C13.0294 18 9 13.9706 9 9V9Z" fill="#4CC9F0"/>
      <rect x="240" y="49.0566" width="33.7264" height="18.3962" rx="9.19811" fill="#7209B7"/>
      <rect x="307.453" y="49.0566" width="30.6604" height="18.3962" rx="9.19811" fill="#7209B7"/>
      <rect x="264.527" y="73.5849" width="49.0566" height="18.3962" rx="9.19811" fill="#F72585"/>
    </g>
  </svg>
  <h1 class="mb-2 text-2xl font-extrabold font-display">
    Welp, this is awkward.
  </h1>
  <p class="mb-10">It looks like server error</p>
  <%= link_to "Go back to Maybe" , root_path, class: 'font-semibold text-sm bg-teal text-black rounded-md py-2 px-4 transition-colors hover:bg-teal-500' %>
</div>
